.aboutSection { 
    @apply w-full max-h-screen relative;

    .content {
        @apply 
        max-w-screen-xl 
        mx-auto 
        py-8 
        items-center;
    }
    h2 {
        @apply font-bold text-2xl md:text-4xl text-center;			
        font-family: 'PT Serif';
        color: #CD8E79;
    }
    p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 143.3%;

        text-align: center;

        color: #5E5E5E;
    }
    .btn {
        @apply text-black text-center mx-auto block rounded-xl md:w-1/2 py-3 px-6 m-8;
        background: #EDD6CF;
    }

}