.heroSections { 
    @apply w-full relative;
    background: #CD8E79;
    height: 600px;

    .content {
        @apply max-w-screen-xl mx-auto;
    }
    h1 {
        @apply font-bold text-3xl md:text-5xl text-center;			
        font-family: 'PT Serif';
        color: #EDD6CF;
    }
    p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 143.3%;
        /* or 23px */

        text-align: center;

        color: #E5E2E1;
    }
    .groupBtn {
        @apply mt-8 text-center;
    
    }
    .btn {
        @apply text-black rounded-xl w-52 py-3 px-6 m-8;
        background: #EDD6CF;
    }

}