.footer {
    height: 96px;
    
    .logo {
            width: 156px;
            height: 100%;
    }

    .icon {
        height: 50px;
        width: 50px;
        // position: absolute;
        // padding: 2rem;
        margin: 0 auto;
    }
}